﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> LocOptions

@model List<Venue>

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["User info"]
                <a asp-controller="Venue" asp-action="CreateNewVenue" class="action_label add first pull-right">
                   @Localizer["Add venue"]
                </a>
            </div>
        </div>
        <div class="container-content">
            <div class="content_user_info_full col-md-pull-12 pull-right">
                <table>
                    <tr>
                        <th>
                            id
                        </th>
                        <th>
                            @Localizer["Name"]
                        </th>
                        <th>
                            @Localizer["City"]
                        </th>
                        <th>
                            @Localizer["Address"]
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var u in Model)
                    {
                        <tr>
                            <td>@u.Id</td>
                            <td>@u.Name</td>
                            <td>@u.City.Name</td>
                            <td>@u.Address</td>
                            <td>
                                <a asp-controller="Venue" asp-action="DeleteVenue" asp-route-venueId="@u.Id" class="custom_link">
                                    @Localizer["Delete"]
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Venue" asp-action="EditVenue" asp-route-venueId="@u.Id" class="custom_link">
                                    @Localizer["Edit"]
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="place_holder"></div>
        <div class="content_user_register_form">
        </div>
    </div>
</div>