﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> LocOptions

@model NewVenueViewModel

<div class="content">
    <div class="container">
        <div class="content_user_register input">
            <div class="content_user_register_form">
                <div class="place_holder"></div>

                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <form asp-controller="Venue" asp-action="EditVenue" asp-route-venueId="@Model.VenueId" role="form" method="post">
                                <div asp-validation-summary="All" class="validation_error"></div>
                                <div class="form-group">
                                    <h2>@Localizer["Add new venue"]</h2>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="Name">@Localizer["Name"]</label>
                                    <input asp-for="VenueName" id="Name" type="text" maxlength="50" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="Address">@Localizer["Address"]</label>
                                    <input asp-for="Address" id="Address" type="text" maxlength="50" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="cities">@Localizer["City"]</label>
                                    <select asp-for="CityId" id="cities" type="text" maxlength="25" class="form-control input-sm">
                                        @foreach (var c in Model.Cities)
                                        {
                                            <option value="@c.Id">@c.Name</option>
                                        }
                                        <option value="@Model.CityId" selected="selected">@Model.CityName</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button id="signupSubmit" type="submit" class="btn btn-info btn-block">@Localizer["Save"]</button>
                                </div>

                                <hr>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="place_holder"></div>
            </div>
        </div>
    </div>
</div>