﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> LocOptions
@model List<Order>

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["My Orders"]
            </div>
        </div>
        <div class="content_info">
            <table>
                <tr>
                    <th>
                        @Localizer["Number"]
                    </th>
                    <th>
                        @Localizer["Price"]
                    </th>
                    <th>
                        @Localizer["Event"]
                    </th>
                    <th>
                        @Localizer["Buyer"]
                    </th>
                    <th>
                        @Localizer["Seller"]
                    </th>
                    <th>
                        @Localizer["Tracknumber"]
                    </th>
                    <th>
                        @Localizer["Note"]
                    </th>
                    <th>
                        @Localizer["Status"]
                    </th>
                </tr>
                @foreach (var o in Model)
                {
                    <tr>
                        <td>@o.Ticket.Number</td>
                        <td>@o.Ticket.Price</td>
                        <td>@o.Ticket.Event.Name</td>
                        <td>@o.Buyer.Login</td>
                        <td>@o.Ticket.Seller.Login</td>
                        <td>@o.TrackNumber</td>
                        <td>@o.Note</td>
                        <td>
                            @switch (o.Status)
                {
                    case OrderStatus.Complete:
                                    <span class="label label-success">
                                        @Localizer[@o.Status.ToString()]
                                    </span>
                                    break;
                                case OrderStatus.Confirmed:
                                    <span class="label label-info">
                                       @Localizer[@o.Status.ToString()]
                                    </span>
                                    break;
                                case OrderStatus.Rejected:
                                    <span class="label label-danger">
                                        @Localizer[@o.Status.ToString()]
                                    </span>
                                    break;
                                case OrderStatus.Waiting:
                                    <span class="label label-default">
                                        @Localizer[@o.Status.ToString()]
                                    </span>
                                    break;
                            }
                            @if (o.Status != OrderStatus.Complete)
                {
                    if (!ActualChecker.Check(o.Ticket.Event.DateEnd))
                    {
                                    <span class="label label-warning">
                                        @Localizer["Expired"]
                                    </span>
                                }
                            }

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>