﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.Extensions.Options

@model NewEventViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Edit event"];
}

<h2>@ViewData["Title"].</h2>
<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["Edit event"]
            </div>
        </div>
        <div class="event_form">
            <form class="form-horizontal" asp-controller="events" asp-action="EditEvent" asp-route-eventId="@Model.EventId" method="post" asp-antiforgery="true" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="validation_error"></div>
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Name">@Localizer["Name"]</label>
                        <div class="col-sm-8">
                            <input asp-for="Name" id="Name" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Venue">@Localizer["Venue"]</label>
                        <div class="col-sm-8">
                            <select asp-for="VenueId" id="Venue" class="form-control input-md">
                                @foreach (var c in Model.AllCities)
                                {
                                    <optgroup label="@c.Name">
                                        @foreach (var v in c.Venues)
                                        {
                                            <option value="@v.Id">@v.Name ( @v.Address )</option>
                                        }
                                    </optgroup>
                                }
                                <option value="@Model.VenueId" selected="selected">@Model.VenueName</option>
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Localizer["Date Start"]</label>
                        <div class="col-sm-4">
                            <input asp-for="DateStart" id="fromDate" type="text" placeholder="From" class="form-control input-md">
                        </div>
                        <label class="col-sm-4 control-label">@Localizer["Date End"]</label>
                        <div class="col-sm-4">
                            <input asp-for="DateEnd" id="toDate" type="text" placeholder="To" class="form-control input-md">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Banner">@Localizer["Banner"]</label>
                        <div class="col-sm-8">
                            <input asp-for="Banner" id="Banner" type="file" placeholder="@Model.BannerPath" class="" value="@Model.BannerPath">
                        </div>
                        <img src="@Model.BannerPath" alt="Bunner" class="bunner-prewiev" />
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Description">@Localizer["Description"]</label>
                        <div class="col-sm-8">
                            <textarea asp-for="Description" id="Description" type="text" placeholder="" class="form-control input-md"></textarea>

                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="submit"></label>
                        <div class="col-sm-8">
                            <button id="submit" class="btn btn-primary">@Localizer["Add"]</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}