﻿@using MyCompany.Resale.BusinessLogic.Description
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer


@model List<Event>
@inject IOptions<RequestLocalizationOptions> LocOptions


@{
    ViewData["Title"] = Localizer["Home Page"];
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/ASP-NET-Banners-01.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    @Localizer["Learn how to build ASP.NET apps that can run anywhere."]
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        @Localizer["Learn More"]
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-02-VS.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    @Localizer["There are powerful new features in Visual Studio for building modern web apps."]
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409" asp-loc>
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ASP-NET-Banners-02.png" alt="Package Management" asp-loc-alt class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    @Localizer["Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp."]
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        @Localizer["Learn More"]
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-01-Azure.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    @Localizer["Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps."]
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        @Localizer["Learn More"]
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only" asp-loc>Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only" asp-loc>Next</span>
    </a>
    </div>
<div class="content">
    @await Html.PartialAsync("_AdminPanelPartial")
    <div class="container">
        <div class="content_header">
            @Localizer["Events"]
        </div>
        <div class="content_info">
            <table class="table">
                @foreach (var e in Model)
            {
                    <tr>
                            <th>
                                <img src=@e.Banner width="100" alt=@e.Name>
                                <a asp-controller="Home" asp-action="Tickets" asp-route-id="@e.Id" class="content_info_block_header">@e.Name</a>
                            </th>
                            <th>
                                <p class="content_info_block_info">
                                    <span>@Localizer["Date start"]: </span>@e.DateStart.ToString("MM/dd/yyyy")
                                </p>
                            </th>
                        <th>
                            <p class="content_info_block_info">
                                <span>@Localizer["Date end"]: </span>@e.DateEnd.ToString("MM/dd/yyyy")
                            </p>
                        </th>
                            <th>
                                <p class="content_info_block_info">
                                    <span>@Localizer["City"]: </span>@e.Venue.City.Name
                                </p>
                            </th>
                            <th>
                                <p class="content_info_block_info">
                                    <span>@Localizer["Venue"]: </span>@e.Venue.Name
                                </p>

                            </th>
                    </tr>
                }
                </table>
</div>
    </div>
</div>
