﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@model NewEventViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["New Event"];
}

<h2>@ViewData["Title"].</h2>

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="event_form">
            <form class="form-horizontal" asp-controller="Events" asp-action="NewEvent" method="post" enctype="multipart/form-data">
                <h4>@Localizer["Create a new event."]</h4>
                <hr />
                <div asp-validation-summary="All" class="validation_error"></div>
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label asp-for="Name" class="col-md-4 control-label">@Localizer["Name"]</label>
                        <div class="col-md-8">
                            <input asp-for="Name" type="text" placeholder="" class="form-control input-md">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Venue">@Localizer["Venue"]</label>
                        <div class="col-sm-8">
                            <select asp-for="VenueId" id="Venue" class="form-control input-md">
                                @foreach (var c in Model.AllCities)
                                {
                                    <optgroup label="@c.Name">
                                        @foreach (var v in c.Venues)
                                        {
                                            <option value="@v.Id">@v.Name ( @v.Address )</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="VenueName" class="col-md-4 control-label">@Localizer["Venue name"]</label>
                        <div class="col-sm-8">
                            <select asp-for="VenueName" id="Venue" class="form-control input-md">
                                @foreach (var v in Model.AllVenue)
                                {
                                    <option value="@v.Name">@v.Name ( @v.Address )</option>
                                }
                            </select>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Localizer["Date start"]</label>
                        <div class="col-sm-4">
                            <input asp-for="DateStart" id="fromDate" type="text" placeholder="From" class="form-control input-md">
                        </div>
                        <label class="col-sm-4 control-label">@Localizer["Date end"]</label>
                        <div class="col-sm-4">
                            <input asp-for="DateEnd" id="toDate" type="text" placeholder="To" class="form-control input-md">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Banner">@Localizer["Banner"]</label>
                        <div class="col-sm-8">
                            <input asp-for="Banner" id="Banner" type="file" placeholder="" class="">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Description">@Localizer["Description"]</label>
                        <div class="col-sm-8">
                            <textarea asp-for="Description" id="Description" type="text" placeholder="" class="form-control input-md"></textarea>

                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="submit"></label>
                        <div class="col-sm-8">
                            <button id="submit" class="btn btn-primary">@Localizer["Add"]</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}