﻿@model ErrorViewModel

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="place_holder"></div>
        <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
        <div class="place_holder"></div>
    </div>
</div>