﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

dl > dt {
    width: 230px;
    float: left;
}

dl > dd {
    margin-left: 230px;
}
/**/
.tabs {

   min-width: 1000px;
    max-width: 1000px;
    padding: 0px;
    margin: 25px auto;
}

/* cextions with content */
section {
    display: none;
    padding: 15px;
    background: white;
    border: 1px solid white;
}

.tabs > input {
    display: none;
}

/* tabs style */
.tabs label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #000;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}

.tabs > input + label {
    display: inline-block;
    border: 1px solid #380d0d;
    padding: 4px;
    cursor: pointer;
    position: relative;
}

.tabs > input + label:not(:last-of-type) {
    border-right: none;
}

.tabs > input + label:hover {
     color: #380d0d;
        cursor: pointer;
}

.tabs > input + label:last-of-type::after {
    display: block;
    border-bottom: 1px solid #380d0d;
    width: 2000px;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 100%;
}




.tabs > input:checked + label {
    color: blue;
    border-bottom: none;
    padding-bottom: 5px;
}

.tabs > input:checked + label:last-of-type::after {

    bottom: 0px;
}
.tabs > div {
    white-space: normal;
    display: none;
    border: 1px solid gray;
    border-top: none;
    margin: 0px;
    padding: 2px 20px;
}

.tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.tabs > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.tabs > input:nth-of-type(4):checked ~ div:nth-of-type(4) {
    display: block;
}

/*Table*/
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
    width: 100%;
}

th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: center;
}

td {
    text-align: center;
    padding: 15px;
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: #f1f1f1;
}

tr {
    height: 40px;
}
    tr:hover {
        background-color:ActiveBorder;
        color: #380d0d;
        cursor: default;
    }

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}