﻿@using System.Net.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<City>

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["User info"]
                <a asp-controller="City" asp-action="CraeteNewCity" class="action_label add first pull-right">
                    @Localizer["Add city"]
                </a>
            </div>
        </div>
        <div class="container-content">
            <div class="content_user_info_full col-md-pull-12 pull-right">
                <table>
                    <tr>
                        <th>
                            id
                        </th>
                        <th>
                            @Localizer["Name"]
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var u in Model)
                    {
                        <tr>
                            <td>@u.Id</td>
                            <td>@u.Name</td>
                            <td>
                                <a asp-controller="City" asp-action="DeleteCity" asp-route-cityId="@u.Id" class="custom_link">
                                    @Localizer["Delete"]
                                </a>
                            </td>
                            <td>
                                <a asp-controller="City" asp-action="EditCity" asp-route-cityId="@u.Id" class="custom_link">
                                    @Localizer["Edit"]
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="place_holder"></div>
        <div class="content_user_register_form">
        </div>
    </div>
</div>