﻿@using System.Net.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model NewCityViewModel

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_user_register input">
            <div class="content_user_register_form">
                <div class="place_holder"></div>

                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <form asp-controller="City" asp-action="CraeteNewCity" role="form" method="post">
                                <div asp-validation-summary="All" class="validation_error"></div>
                                <div class="form-group">
                                    <h2>
                                        @Localizer["Add new city"]
                                    </h2>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="cityName">@Localizer["City name"]</label>
                                    <input asp-for="Name" id="cityName" type="text" maxlength="50" class="form-control">
                                </div>

                                <div class="form-group">
                                    <button id="signupSubmit" type="submit" class="btn btn-info btn-block">@Localizer["Add"] </button>
                                </div>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="place_holder"></div>
            </div>
        </div>
    </div>
</div>
