﻿@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model List<User>

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["User info"]
                <a asp-controller="Account" asp-action="Register" class="action_label add first pull-right">
                    @Localizer["Add user"]
                </a>
            </div>
        </div>
        <div class="container-content">
            <div class="content_user_info_full col-md-pull-12 pull-right">
                <table>
                    <tr>
                        <th>
                            @Localizer["#"]
                        </th>
                        <th>
                            @Localizer["Login"]
                        </th>
                        <th>
                            @Localizer["First name"]
                        </th>
                        <th>
                            @Localizer["Last name"]
                        </th>
                        <th>
                            @Localizer["Localization"]
                        </th>
                        <th>
                            @Localizer["E-mail"]
                        </th>
                        <th>
                            @Localizer["Role"]
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var u in Model)
                    {
                        <tr>
                            <td>@u.Id</td>
                            <td>@u.Login</td>
                            <td>@u.FirstName</td>
                            <td>@u.LastName</td>
                            <td>@u.Localization</td>
                            <td>@u.Email</td>
                            <td>@u.Role.Name</td>
                            <td>
                                <a asp-controller="Account" asp-action="CustomUserInfo" asp-route-userId="@u.Id" class="custom_link">
                                    @Localizer["Full info"] </a>
                            </td>
                            <td>
                                <a asp-controller="Account" asp-action="Delete" asp-route-eventId="@u.Id" class="custom_link">
                                    @Localizer["Delete"]
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="content_user_register_form">
        </div>
    </div>
</div>