﻿@using System.Net.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model ChangeRoleViewModel

<div class="content">
    <div class="container">
        <div class="content_user_register input">
            <div class="content_user_register_form">
                <div class="place_holder"></div>

                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <form asp-controller="Account" asp-action="ChangeRole" asp-route-userId="@Model.UserId" role="form" method="post">
                                <div asp-validation-summary="All" class="validation_error"></div>
                                <div class="form-group">
                                    <h2>@Localizer["Change role"]</h2>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">@Localizer["Current role:"]@Model.RoleName</label>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="roles">@Localizer["New role"]</label>
                                    <select asp-for="@Model.RoleId" id="roles" type="text" maxlength="25" class="form-control input-sm">
                                        @foreach (var r in Model.Roles)
                                        {
                                            <option value="@r.Id">@r.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button id="signupSubmit" type="submit" class="btn btn-info btn-block">@Localizer["Change"]</button>
                                </div>

                                <hr>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="place_holder"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}