﻿@using System.Net.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model EditUserViewModel
<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_user_register input">
            <div class="content_user_register_form">
                <div class="container">
                    <div class="place_holder"></div>

                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <form method="post" asp-controller="account" asp-action="EditUser" asp-route-userId="@Model.User.Id" role="form">
                                    <div asp-validation-summary="All" class="validation_error"></div>
                                    <div class="form-group">
                                        <h2>
                                            @Localizer["Edit account info."]
                                        </h2>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="signupName">@Localizer["Login"]</label>
                                        <input asp-for="@Model.User.Login" id="signupName" type="text" maxlength="100" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="firstName">@Localizer["First name"]</label>
                                        <input asp-for="@Model.User.FirstName" id="firstName" type="text" maxlength="100" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="lastName">@Localizer["Last name"]</label>
                                        <input asp-for="@Model.User.LastName" id="lastName" type="text" maxlength="100" class="form-control" placeholder="" length="100">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="address">@Localizer["Address"]</label>
                                        <input asp-for="@Model.User.Address" id="address" type="text" maxlength="100" class="form-control" placeholder="" length="100">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="phoneNumer">@Localizer["Phone numer"]</label>
                                        <input asp-for="@Model.User.PhoneNmber" id="phoneNumer" type="text" maxlength="100" class="form-control" placeholder="" length="100">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="signupEmail">@Localizer["E-mail"]</label>
                                        <input asp-for="@Model.User.Email" id="signupEmail" type="email" maxlength="100" class="form-control">
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label" for="signupPasswordagain">@Localizer["Localization"]</label>
                                        <select asp-for="@Model.User.Localization" id="signupPasswordagain" type="text" maxlength="100" class="form-control input-sm">
                                            <option value="en">@Localizer["English"]</option>
                                            <option value="be">@Localizer["Belarussian"]</option>
                                            <option value="ru">@Localizer["Russian"]</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button id="signupSubmit" type="submit" class="btn btn-info btn-block">@Localizer["Save changes"]</button>
                                    </div>

                                    <hr>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="place_holder"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}