﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization

@model LoginViewModel
@inject IViewLocalizer Localizer
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = @Localizer["Log in"];
}

<h1>@ViewData["Title"].</h1>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" role="form" method="post">
                    <h4>@Localizer["Use a local account to log in."]</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Login" class="col-md-2 control-label">@Localizer["Login"]</label>
                        <div class="col-md-10">
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label">@Localizer["Password"]</label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Localizer["Remember Me"]
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">@Localizer["Log in"]</button>
                        </div>
                    </div>
                <h4>
                    @Localizer["Already have an account? "] <a asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
                </h4>
            </form>
</section>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
