﻿@using System.Net.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model User

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["User info"] 
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="Account" asp-action="ChangeRole" asp-route-userId="@Model.Id" class="action_label edit  pull-right">
                       @Localizer["Change role"]
                    </a>
                }
                <a asp-controller="Account" asp-action="EditUser" asp-route-userId="@Model.Id" class="action_label edit first pull-right">
                    @Localizer["Edit"]
                </a>
            </div>
        </div>
        <div class="container-content">
            <div class="content_user_info_full col-md-pull-12 pull-right">
                <table>
                    <tr>
                        <td>Login:</td>
                        <td>
                            <span>@Model.Login</span>
                        </td>
                    </tr>
                    <tr>
                        <td>@Localizer["First Name"]:</td>
                        <td>
                            <span>@Model.FirstName</span>
                        </td>
                    </tr>
                    <tr>
                        <td>@Localizer["Last Name"]:</td>
                        <td>
                            <span>@Model.LastName</span>
                        </td>
                    </tr>
                    <tr>
                        <td>@Localizer["Loaclization"]:</td>
                        <td>
                            <span>@Model.Localization</span>
                        </td>
                    </tr>
                    <tr>
                        <td>@Localizer["Address"]:</td>
                        <td>
                            <span>@Model.Address</span>
                        </td>
                    </tr>
                    <tr>
                        <td>@Localizer["Phome number"]:</td>
                        <td>
                            <span>@Model.PhoneNmber</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>
                            <span>@Model.Email</span>
                        </td>
                    </tr>
                    <tr>
                        <td>@Localizer["Email confirmed"]:</td>
                        <td>
                            <span>@Model.EmailConformed</span>
                        </td>
                    </tr>
                    <tr>
                        <td>@Localizer["Two factor enabled"]:</td>
                        <td>
                            <span>@Model.TwoFactorEnabled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>@Localizer["Role"]:</td>
                        <td>
                            <span>@Model.Role.Name</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="content_user_register_form">
        </div>
    </div>
</div>