﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> LocOptions

@model AddTrackNumerViewModel

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["Add TrackNumber"]
            </div>
        </div>
        <div class="event_form">
            <form class="form-horizontal" asp-controller="Tickets" asp-action="AddTrackNumber" method="post" asp-route-ticketId="@Model.OrderId">
                <div asp-validation-summary="All" class="validation_error"></div>
                <fieldset>

                    <!-- Text input-->
                    <div class="form-group has-success">

                        <div class="col-sm-8">
                            <input asp-for="OrderId" id="OrderId" type="hidden" placeholder="" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group has-success">
                        <label class="col-sm-4 control-label" for="TrackNumber">@Localizer["Track number"]</label>
                        <div class="col-sm-8">
                            <input asp-for="TrackNumber" id="TrackNumber" type="text" placeholder="" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="submit"></label>
                        <div class="col-sm-8">
                            <button id="submit" class="btn btn-primary">@Localizer["Apply"]</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>