﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> LocOptions

@model Ticket

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["Buy a ticket"]
            </div>
        </div>
        <div class="event_form">
            <form class="form-horizontal" asp-controller="Tickets" asp-action="BuyTicket" method="post" asp-route-ticketId="@Model.Id">
                <div asp-validation-summary="All" class="validation_error"></div>
                <fieldset>

                    <!-- Text input-->
                    <div class="form-group has-success">
                        <label class="col-sm-4 control-label" for="Number">@Localizer["Number"]</label>
                        <div class="col-sm-8">
                            <input id="Number" type="text" placeholder="" class="form-control input-md" disabled="disabled" value="@Model.Number">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group has-success">
                        <label class="col-sm-4 control-label" for="Price">@Localizer["Price"]</label>
                        <div class="col-sm-8">
                            <input id="Price" type="text" placeholder="" class="form-control input-md" disabled="disabled" value="@Model.Price">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group has-success">
                        <label class="col-sm-4 control-label" for="Event">@Localizer["Event"]</label>
                        <div class="col-sm-8">
                            <input id="Event" type="text" placeholder="" class="form-control input-md" disabled="disabled" value="@Model.Event.Name">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group has-success">
                        <label class="col-sm-4 control-label" for="City">@Localizer["City"]</label>
                        <div class="col-sm-8">
                            <input id="City" type="text" placeholder="" class="form-control input-md" disabled="disabled" value="@Model.Event.Venue.City.Name">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group has-success">
                        <label class="col-sm-4 control-label" for="Venue">@Localizer["Venue"]</label>
                        <div class="col-sm-8">
                            <input id="Venue" type="text" placeholder="" class="form-control input-md" disabled="disabled" value="@Model.Event.Venue.Name">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group has-success">
                        <label class="col-sm-4 control-label" for="Seller">@Localizer["Seller"]</label>
                        <div class="col-sm-8">
                            <input id="Seller" type="text" placeholder="" class="form-control input-md" disabled="disabled" value="@Model.Seller.FirstName @Model.Seller.LastName">
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="submit"></label>
                        <div class="col-sm-8">
                            <button id="submit" class="btn btn-primary">@Localizer["Order"]</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>