﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> LocOptions

@model NewTicketViewModel


<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["New ticket"]
            </div>
        </div>

        <div class="event_form">
            <form class="form-horizontal" asp-controller="Tickets" asp-action="NewTicket" asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-antiforgery="true">
                <div asp-validation-summary="All" class="validation_error"></div>
                <fieldset>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Venue">@Localizer["Venue"]</label>
                        <div class="col-sm-8">
                            <select asp-for="EventId" id="Event" class="form-control input-md">
                                @foreach (var e in Model.AllEvents)
                                {
                                    <option value="@e.Id">@e.Name</option>
                                }
                                @if (!String.IsNullOrEmpty(Model.EventName))
                                {
                                    <option selected="selected" value="@Model.EventId">@Model.EventName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Number">@Localizer["Number"]</label>
                        <div class="col-sm-8">
                            <input asp-for="Number" id="Number" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Price">@Localizer["Price"]</label>
                        <div class="col-sm-8">
                            <input asp-for="Price" id="Price" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Note">@Localizer["Note"]</label>
                        <div class="col-sm-8">
                            <textarea asp-for="Note" id="Note" type="" placeholder="" class="form-control input-md"></textarea>

                        </div>
                    </div>


                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="submit"></label>
                        <div class="col-sm-8">
                            <button id="submit" class="btn btn-default">@Localizer["Add"]</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>`