﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> LocOptions

@model Order

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_user_register input">
            <div class="content_user_register_form">
                <div class="place_holder"></div>

                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <form asp-controller="Tickets" asp-action="RejectTicket" role="form" method="post" asp-antiforgery="true">
                                <div asp-validation-summary="All" class="validation_error"></div>
                                <div class="form-group">
                                    <h2>
                                        @Localizer["Are you sure you want to cancel the ticket?"]
                                    </h2>
                                </div>
                                <div class="form-group">

                                    @Html.HiddenFor(m => m.Buyer)
                                    @Html.HiddenFor(m => m.Id)
                                    @Html.HiddenFor(m => m.Status)
                                    @Html.HiddenFor(m => m.Ticket.Id)
                                    @Html.HiddenFor(m => m.TrackNumber)

                                </div>
                                <div class="form-group">

                                    <label class="control-label" for="Note">@Localizer["Note"]</label>
                                    <textarea asp-for="Note" id="Note" type="text" maxlength="25" class="form-control" placeholder="" length="40"></textarea>

                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info btn-block">@Localizer["Reject"] </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="place_holder"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}