﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> LocOptions

@model Ticket

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["Full ticket info"]
                <a asp-controller="Tickets" asp-action="NewTicket" asp-route-eventName="@Model.Event.Name" asp-route-eventId="@Model.Event.Id" class="action_label add first pull-right">
                    @Localizer["Add event ticket"]
                </a>
            </div>
        </div>

        <div class="content_info">
            <div class="content_info_detail_img">
                <img src="@Model.Event.Banner" width="320" alt=@Model.Event.Name>
            </div>
            <div class="content_info_detail_description">
                <p class="content_info_block_header">
                    @Model.Event.Name
                </p>
                <p class="content_info_block_info">
                    <span>@Localizer["Date start"]: </span>@Model.Event.DateStart.ToString("MM/dd/yyyy")
                </p>
                <p class="content_info_block_info">
                    <span>@Localizer["Date end"]: </span>@Model.Event.DateEnd.ToString("MM/dd/yyyy")
                </p>
                <p class="content_info_block_info">
                    <span>@Localizer["City"]: </span>@Model.Event.Venue.City.Name
                </p>
                <p class="content_info_block_info">
                    <span>@Localizer["Venue"]: </span>@Model.Event.Venue.Name
                </p>
                <p class="content_info_block_info">
                    <span>@Localizer["Description"]: </span>@Model.Event.Description
                </p>
            </div>

            <table class="table">
                <tr>
                    <th>
                        @Localizer["#"]
                    </th>
                    <th>
                        @Localizer["Number"]
                    </th>
                    <th>
                        @Localizer["Price"]
                    </th>
                    <th>
                        @Localizer["Seller"]
                    </th>
                    <th>
                       @Localizer["Note"]
                    </th>

                </tr>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Number</td>
                    <td>$@Model.Price</td>
                    <td>@Model.Seller.Login ( @Model.Seller.FirstName @Model.Seller.LastName )</td>
                    <td>@Model.Note</td>
                </tr>
            </table>
        </div>
    </div>
</div>