﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> LocOptions
@model UserTicketsViewModel

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["My tickets"]
                <a asp-controller="Tickets" asp-action="NewTicket" class="action_label add first pull-right">
                    @Localizer["Add event ticket"]
                </a>
            </div>
        </div>
        @if (ViewBag.TicketResult == "true")
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success!</strong> operation was successfully completed.
            </div>
        }
        @if (ViewBag.TicketResult == "false")
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error!</strong> Contact your system administrator.
            </div>
        }
        <div class="content_user_info">
        </div>
        <div class="content_header">
            @Localizer["My tickets"]
        </div>
        <div class="content_info">

            <div class="tabs">
                <input type="radio" name="tabs1" id="tabs1_1" checked>
                <label for="tabs1_1">@Localizer["In sale"]</label>
                <input type="radio" name="tabs1" id="tabs1_2">
                <label for="tabs1_2">@Localizer["Waiting of confirmation"]</label>
                <input type="radio" name="tabs1" id="tabs1_3">
                <label for="tabs1_3">@Localizer["Confirmed"]</label>
                <input type="radio" name="tabs1" id="tabs1_4">
                <label for="tabs1_4">@Localizer["Implemented"]</label>
                <div>
                    <p>
                        <table>
                            <tr>
                                <th>@Localizer["#"]</th>
                                <th>@Localizer["Name"]</th>
                                <th>@Localizer["City"]</th>
                                <th>@Localizer["Venue"]</th>
                                <th>@Localizer["Date start"]</th>
                                <th>@Localizer["Date end"]</th>
                                <th>@Localizer["Number"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>@Localizer["Note"]</th>
                                <th></th>
                                <th></th>
                            </tr>
                            @foreach (var t in Model.SelingTickets)
                            {
                                <tr>
                                    <td>@t.Id</td>
                                    <td>@t.Event.Name</td>
                                    <td>@t.Event.Venue.City.Name</td>
                                    <td>@t.Event.Venue.Name</td>
                                    <td>@t.Event.DateStart.ToString("MM/dd/yyyy")</td>
                                    <td>@t.Event.DateEnd.ToString("MM/dd/yyyy")</td>
                                    <td>@t.Number</td>
                                    <td>@($"${@t.Price.ToString()}")</td>
                                    <td>@t.Note</td>

                                    <td>
                                        <a asp-controller="Tickets" asp-action="EditTicket" asp-route-ticketId="@t.Id" class="custom_link">
                                            @Localizer["Edit"]
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="DeleteTicket" asp-route-ticketId="@t.Id" class="custom_link">
                                            @Localizer["Delete"]
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </p>
                </div>
                <div>
                    <p>
                        <table>
                            <tr>
                                <th>@Localizer["№"]</th>
                                <th>@Localizer["Name"]</th>
                                <th>@Localizer["City"]</th>
                                <th>@Localizer["Venue"]</th>
                                <th>@Localizer["Date start"]</th>
                                <th>@Localizer["Date end"]</th>
                                <th>@Localizer["Number"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>@Localizer["Note"]</th>
                                <th></th>
                                <th></th>
                            </tr>
                            @foreach (var t in Model.WaitingConfirmationTiclets)
                            {
                                <tr>
                                    <td>@t.Id</td>
                                    <td>@t.Event.Name</td>
                                    <td>@t.Event.Venue.City.Name</td>
                                    <td>@t.Event.Venue.Name</td>
                                    <td>@t.Event.DateStart.ToString("MM/dd/yyyy")</td>
                                    <td>@t.Event.DateEnd.ToString("MM/dd/yyyy")</td>
                                    <td>@t.Number</td>
                                    <td>@($"${@t.Price.ToString()}")</td>
                                    <td>@t.Note</td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="ConfirmTicket" asp-route-ticketId="@t.Id" class="custom_link">@Localizer["ConfirmTicket"]</a>
                                    </td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="RejectTicket" asp-route-ticketId="@t.Id" class="custom_link">@Localizer["Reject"]</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </p>
                </div>
                <div>
                    <p>
                        <table>
                            <tr>
                                <th>@Localizer["№"]</th>
                                <th>@Localizer["Name"]</th>
                                <th>@Localizer["City"]</th>
                                <th>@Localizer["Venue"]</th>
                                <th>@Localizer["Date start"]</th>
                                <th>@Localizer["Date end"]</th>
                                <th>@Localizer["Number"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>@Localizer["Note"]</th>
                                <th></th>
                                <th></th>
                            </tr>
                            @foreach (var t in Model.ConfirmedAndDelivery)
                            {
                                <tr>
                                    <td>@t.Id</td>
                                    <td>@t.Event.Name</td>
                                    <td>@t.Event.Venue.City.Name</td>
                                    <td>@t.Event.Venue.Name</td>
                                    <td>@t.Event.DateStart.ToString("MM/dd/yyyy")</td>
                                    <td>@t.Event.DateEnd.ToString("MM/dd/yyyy")</td>
                                    <td>@t.Number</td>
                                    <td>@($"${@t.Price.ToString()}")</td>
                                    <td>@t.Note</td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="AddTrackNumber" asp-route-ticketId="@t.Id" class="custom_link">@Localizer["Add/edit track number"]</a>
                                    </td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="SoldTicket" asp-route-ticketId="@t.Id" class="custom_link">@Localizer["Complete"]</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </p>
                </div>
                <div>
                    <p>
                        <table>
                            <tr>
                                <th>@Localizer["№"]</th>
                                <th>@Localizer["Name"]</th>
                                <th>@Localizer["City"]</th>
                                <th>@Localizer["Venue"]</th>
                                <th>@Localizer["Date start"]</th>
                                <th>@Localizer["Date end"]</th>
                                <th>@Localizer["Number"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>@Localizer["Note"]</th>
                                <th></th>
                                <th></th>
                            </tr>
                            @foreach (var t in Model.SoldTickets)
                            {
                                <tr>
                                    <td>@t.Id</td>
                                    <td>@t.Event.Name</td>
                                    <td>@t.Event.Venue.City.Name</td>
                                    <td>@t.Event.Venue.Name</td>
                                    <td>@t.Event.DateStart.ToString("MM/dd/yyyy")</td>
                                    <td>@t.Event.DateEnd.ToString("MM/dd/yyyy")</td>
                                    <td>@t.Number</td>
                                    <td>@($"${@t.Price.ToString()}")</td>
                                    <td>@t.Note</td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="TicketInfo" asp-route-ticketId="@t.Id" class="custom_link">@Localizer["Full info"]</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
