﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@model DetailViewModel
@inject IOptions<RequestLocalizationOptions> LocOptions

<div class="content">
    <div class="container">
        @await Html.PartialAsync("_AdminPanelPartial")
        <br />
        <br />
        <br />
        <div class="content_header">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                @Localizer["Event details"]
                @if (User.IsInRole("Admin"))
                {
                        <a asp-controller="Events" asp-action="DeleteEvent" asp-route-eventId="@Model.Event.Id" class="action_label edit first pull-right">
                            @Localizer["Delete"]
                        </a>
                        <a asp-controller="Events" asp-action="EditEvent" asp-route-eventId="@Model.Event.Id" class="action_label edit first pull-right">
                        @Localizer["Edit"]</a>
                }
            </div>
        </div>

       <!-- <div id="myModalDelete" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Attention!</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to remove?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a value="okButton" class="btn btn-default" asp-controller="Events" asp-action="DeleteEvent" asp-route-eventId="@Model.Event.Id">Yes</a>
                    </div>
                </div>

            </div>
        </div>
-->
    
        <div class="content_info">
            <div class="content_info_detail_img">
                <img src="@Model.Event.Banner" width="320" alt=@Model.Event.Name>
            </div>

            <div class="content_info_detail_description">
                <p class="content_info_block_header">
                    @Model.Event.Name
                </p>
                <p class="content_info_block_info">
                    <span>@Localizer["Date start"]: </span>@Model.Event.DateStart.ToString("MM/dd/yyyy")
                </p>
                <p class="content_info_block_info">
                    <span>@Localizer["Date end"]: </span>@Model.Event.DateEnd.ToString("MM/dd/yyyy")
                </p>
                <p class="content_info_block_info">
                    <span>@Localizer["City"]: </span>@Model.Event.Venue.City.Name
                </p>
                <p class="content_info_block_info">
                    <span>@Localizer["Venue"]: </span>@Model.Event.Venue.Name
                </p>
                <p class="content_info_block_info">
                    <span>@Localizer["Description"]: </span>@Model.Event.Description
                </p>
            </div>

            <div class="section_header">
                <div class="2content_header">
                    <div class="well well-sm">
                        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                        @Localizer["Available tickets"]
                        <a asp-controller="Tickets" asp-action="NewTicket" asp-route-eventName="@Model.Event.Name" asp-route-eventId="@Model.Event.Id" class="action_label add first pull-right">
                        @Localizer["Add event ticket"]
                        </a>
                    </div>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>
                    @Localizer["Number"]
                    </th>
                    <th>
                     @Localizer["Price"]
                    </th>
                    <th>
                     @Localizer["Seller"]
                    </th>
                    <th>
                        @Localizer["Note"]
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var t in Model.Tickets)
                {
                    <tr>
                        <td>@t.Number</td>
                        <td>@($"${@t.Price.ToString()}")</td>
                        <td>@t.Seller.FirstName @t.Seller.LastName</td>
                        <td>@t.Note</td>
                        <td>
                            <a asp-controller="Tickets" asp-action="BuyTicket" asp-route-ticketId="@t.Id">@Localizer["Order now"] </a>
                        </td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>