﻿@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Identity
@using MyCompany.Resale.Presentation.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (User.IsInRole("Admin"))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Account" asp-action="AllUsers">@Localizer["All Users"]</a></li>
            <li><a asp-controller="City" asp-action="AllCities">@Localizer["All Cities"]</a></li>
            <li><a asp-controller="Venue" asp-action="AllVenue">@Localizer["All Venue"]</a></li>
        </ul>
    </form>
}
