﻿@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Identity
@using MyCompany.Resale.Presentation.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Account" asp-action="CustomUserInfo" asp-route-userId="@UserManager.GetUserId(User)">@Localizer["Hello"] @UserManager.GetUserName(User)!</a></li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["Log off"]</button>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li><a asp-controller="Events" asp-action="NewEvent">@Localizer["New Event"]</a></li>
            }
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
       <li><a asp-controller="Account" asp-action="Login">@Localizer["Log in"]</a></li>
       <li><a asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
    </ul>
    }


